.Landing {
  background-image: url(../../imagenes/perronegro.jpg);
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  /* position: absolute; */
  /* background-size: cover; */
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content:space-between;
  align-items:baseline;
  flex-wrap: wrap;
}

.Title {
    margin-left: 20px;
    color: rgb(195, 0, 255);
    font-family: 'Bungee Inline', cursive;
}

.Neon {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    color: blueviolet;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    text-decoration: none;
    overflow:hidden;
    transition: 0.5s;
    background: transparent;
    font-family: 'Rock Salt', cursive;
    border: none;
    border-radius: 10%;
}

.Neon:hover{
    color: blueviolet;
    background:#a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1.1s;
}

.Neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

.Neon:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}

.Neon:hover #span3 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.Neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}

.Neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}